<nav class="navbar navbar-dark bg-dark">
  <div class="navbar-brand">
    Angular-Forms
  </div>
  <div class="container">
    <ul class="nav navbar-nav mr-auto">
      <li>
        <a class="nav-link" routerLink="startertemplateform">Starter Template Form</a>
      </li>
      <li>
        <a class="nav-link" routerLink="templateform">Template Form</a>
      </li>
      <li>
        <a class="nav-link" routerLink="starterreactiveform">Starter Reactive Form</a>
      </li>
      <li>
        <a class="nav-link" routerLink="reactiveform">Reactive Form</a>
      </li>
      <li>
        <a class="nav-link" routerLink="basicform">Basic Form</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" [routerLink]="['/createBlog']">Post Somoething</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/about']">About</a>
      </li> -->
    </ul>
  </div>
</nav>
<br>
<br>
<div class="container">
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
